# HELP consumption_total The total power being consumed
# TYPE consumption_total counter
{%- for sensor_data in data %}
consumption_total{id="{{ sensor_data['id'] }}" service="{{ sensor_data["service"] }}" component="{{ sensor_data["component"] }}" rack="{{ sensor_data["rack"] }}" unit="{{ sensor_data['consumption_unit'] }}"} {{ sensor_data['instant_consumption'] }}
{%- endfor %}
